/* File: src/components/layout/AdminLayout.css */
.admin-layout {
  display: flex;
  min-height: 100vh;
  background: #F8FAFC;
}

.admin-main-content {
  flex: 1;
  margin-left: 100px;
  padding: 32px;
  background: #F8FAFC;
}
